.titulo_pagina {
		text-align: center
	}

.clase_pagina h2{
		text-align: center	
	}


/* Estilos para el menú desplegable */
.dropdown {
    display: none;
    position: absolute;
    background-color: #DCDCDC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown li {
    float: none;
    }

.dropdown li a {
    padding: 12px 16px;
    display: block;
    text-align: left;
    }

.dropdown li a:hover {
    background-color: #ddd;
}

.menu li:hover .dropdown {
    display: block;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    z-index: 1000;
    list-style-type: none;
    display: flex;   
    gap: 2rem;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu .dropdown {
    display: none;
    position: absolute;
    background-color: #444;
    padding: 0.5rem;
    list-style-type: none;
    top: 100%;
    left: 0;
  }
  
  .menu li:hover .dropdown {
    display: block;
  }
  
  body {
    margin-top: 100px; /* espacio para el menú fijo */
    font-family: 'Roboto Slab', serif;
  }
  
  