.titulo_pagina {
		text-align: center

	}
	.clase_pagina h2{
		text-align: center	
	}
        /* Estilos para el menú */
        .menu {
            list-style-type: none;
            padding: 0;
            margin: 0;
            background-color: #ADD8E6;
            overflow: hidden;
        }

        .menu li {
            float: left;
        }

        .menu li a {
            display: block;
            color: #333;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .menu li a:hover {
            background-color: #ddd;
        }

        /* Estilos para el menú desplegable */
        .dropdown {
            display: none;
            position: absolute;
            background-color: #DCDCDC;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

        }

        .dropdown li {
            float: none;
        }

        .dropdown li a {
            padding: 12px 16px;
            display: block;
            text-align: left;
        }

        .dropdown li a:hover {
            background-color: #ddd;
        }

        .menu li:hover .dropdown {
            display: block;
        }
    </style>

